<html>
    <head>
        <title>Travel_form</title>
        <script src="/static/js/main.js" defer></script>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        {% if session['userid'] %}
            <div style="background-color: lightgray; padding: 10px;">
                Logged in as: <strong>{{ session['userid'] }}</strong>
                <button class="button button5" onclick="window.location.href='/logout'">Logout</button>
            </div>
        {% endif %}
    
    <h1>Travel form</h1>
        <body>
            <h2>Add a Travel Record</h2>
        
            <input type="text" id="institution" placeholder="Institution or company">
            <input type="text" id="city" placeholder="City">
            <input list="countryList" id="country" placeholder="Country">
            <datalist id="countryList"></datalist>
            <input type="date" id="travelstart">
            <input type="date" id="travelend">
        
            <button class="button button1" onclick="submitTravel()">Submit</button>
            <div id="message" style="margin-top: 20px;"></div>

            <br><button class = "button button2" onclick="window.location.href='/dashboard/{{session['userid']}}'">Back to Dashboard</button>
        </body>

        <script>
            const currentUserId = "{{ session['userid'] }}";
            let countries = [];
            fetch('/api/countries-simple')
                .then(res => res.json())
                .then(data => {
                    countries = data;
                    const datalist = document.getElementById('countryList');
                    data.forEach(c => {
                        const option = document.createElement('option');
                        option.value = c.commonname;
                        datalist.appendChild(option);
                    });
                });
        </script>
</html>