<html>
    <head>
        <title>Travel_form</title>
        <script src="/static/js/main.js" defer></script>
    </head>

    <body>
        <h1>Travel form</h1>
        <body>
            <h1>Add a Travel Record</h1>
        
            <input type="text" id="name" placeholder="Name">
            <input type="text" id="destination" placeholder="Destination">
            <input type="date" id="departure_date">
            <input type="date" id="return_date">
        
            <button onclick="submitTravel()">Submit</button>
            <button onclick="window.location.href='/'">Back to Home</button>
        </body>
</html>