<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link href="/static/css/style.css" rel="stylesheet">
        <title>Dashboard for Administrators</title>
        <script src="/static/js/main.js" defer></script>
    </head>

    <body>
        <div class="container mt-4">
            <h1>{{ user['firstname'] }}, welcome to the Administrator Dashboard</h1>

            <div class="mt-4">

                <button class="button button1" onclick="window.location.href='/current-travel/{{ session['userid']}}'">View All Current Travel</button>
                View all current travel records of all users
                <br>

                <button class="button button2" onclick="window.location.href='/country-list'">Country details</button>
                Access details and travel advice by country. The top headlines for each country are also available.
                <br>

                <button class="button button3" onclick="window.location.href='/news-search'">Search the news</button>
                Search the news for incidents in locations where Global Galway is currently supporting students
                <br>

                </div>

            <div class="mt-4">
                <button class="button button5" onclick="window.location.href='/logout'">Logout</button>
            </div>
        </div>
    </body>
</html>