<html>
    <head>
        <title>Country Details</title>
        <script src="/static/js/main.js" defer></script>
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            img{
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 150px;
                height: auto;
                margin-bottom: 20px;
            }
        </style>
    </head>
    
    <h1>Country Details for {{country['name']}}</h1>

    <body>
        <p> <img src="{{ country['flag'] }}" alt="Flag of {{ country['name'] }}" style="width: 100px; height: auto;"></p>

        <table>
            <tr>
                <th>Capital</th>
                <td>{{ country['capital'] }}</td>
            </tr>

            <tr>
                <th>Country code</th>
                <td>{{ country['cca2'] }}</td>
            </tr>

            <tr>
                <th>Languages</th>
                <td>{{country['languages']}}</td>
            </tr>
            <tr>
                <th>Currencies</th>
                <td>{{country['currencies']}}</td>
            </tr>

            <tr>
                <th>Country Map</th>
                <td>
                    <a href="{{ country['maps'] }}" target="_blank">View country map</a>
            </tr>

            <tr>
                <th>Department of Foreign Affairs and Trade Ireland</th>
                <td>
                    <a href="https://www.ireland.ie/en/dfa/overseas-travel/advice/{{ country['name'] | lower | replace(' ', '-') }}" target="_blank">
                    Irish Government Travel Advice for {{ country['name'] }}</a>
            </tr>

            <tr>
                <th>UK Foreign Office Travel Advice</th>
                <td>
                    <a href="https://www.gov.uk/foreign-travel-advice/{{ country['name'] | lower | replace(' ', '-') }}" target="_blank">
                    UK Government Travel Advice for {{ country['name'] }}</a>
                </td>
            </tr>

            <tr>
                <th>Top headlines</th>
                <td><a href="/headlines/{{ country['cca2'] }}" class="btn btn-link">View Top Headlines</a></td>
            </tr>
        </table>

        <br>
        <button class="button button2" onclick="window.location.href='/view-travel/{{session['userid']}}'">Back to Travel List</button>
    </body>
</html>
