
<html>
    <head>
        <title>Traveller dashboard/title>
    </head>
    <body>
        <h1>Traveller dashboard</h1>

        <p>Welcome to the University of Galway traveller dashboard</p>
        <p>Here you can add, update and view your travel history and any disasters that may have occurred near to your travel locations.
        </p>
        <button onclick="window.location.href='/report'">View report</button>
        <button onclick="window.location.href='/logout'">Log out</button>   
        <button onclick="window.location.href='/add_travel'">Add travel</button>
        <button onclick="window.location.href='/update_travel'">Update travel</button>
        <button onclick="window.location.href='/view_travel'">View travel</button>
</html>