
<html>
    <head>
        <title>Home - Travel App</title>
        <script src="/static/js/main.js" defer></script>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <h1>Travel Home Page</h1>
        <p>Welcome to the University of Galway travel site.<br> <br>
        
        This web app is designed to allow staff and students to log their travel, learn about the countries they are travelling to and check for the top headlines in those countries. 
        
        Staff in Global Galway will be able to monitor current travel and make contact if an incident occurs close to your travel location, so we can check in.</p>
        </p>
        <h2>Staff and Student portal:</h2>
        <button class = "button button1" onclick="window.location.href='/login'">Login</button><br><br>

        <h2>Administrators portal:</h2>
        <button class="button button2" onclick="window.location.href='/login-admin'">Login</button>
        </html>