
<html>
    <head>
        <title>Home - Travel App</title>
        <script src="/static/js/main.js" defer></script>
    </head>

    <body>
        <h1>Travel Home Page</h1>
        <p>Welcome to the University of Galway travel site.<br> <br>
        
        This web app is designed to allow staff and students to log their travel. Staff in Global Galway will be able to monitor if a disaster or event occurs close to your travel location, so we can check in.</p>
        </p>
        <p>Here you can add, update and view your travel history. Plus see FCO advice for your or any disasters that may have occurred near to your travel locations.
        </p>
        <button onclick="window.location.href='/view_travel'">View travel</button><br>
        <button onclick="window.location.href='/add_travel'">Add travel</button><br>
        <button onclick="window.location.href='/update_travel'">Update travel</button><br>
        <button onclick="window.location.href='/report'">View disasters report</button><br><br>


        <p>If you would like to browse and search the event reports directly please go to: <a href="https://reliefweb.int/disasters">Relief Web disasters</a></p>
        <br>
        <h2>Administrators portal:</h2>
        <button onclick="window.location.href='/admin_dashboard'">Admin dashboard</button>
        </html>