<html>
    <head>
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/main.js" defer></script>
        <title>Login</title>
    </head>

    <body>
        <div class="container mt-4">
            <h1>Login</h1>
            <p>Enter your user ID to log in. 
                
                Only administrators will be able to access the admin dashboard.</p>

            <form method="POST" action="/login">
                <div class="mb-3">
                    <label for="userid" class="form-label">User ID:</label>
                    <input type="text" id="userid" name="userid" placeholder="Enter your User ID" class="form-control" required>
                </div>
                <br>

                <button class="button button3" type="button" onclick="loginAsAdmin()">Login as Administrator</button>
            </form>


        
            <br><br><button class="button button2" onclick="window.location.href='/'">Back to Home</button>
        </div>
    </body>
</html>