<html>
    <head>
        <link href="/static/css/style.css" rel="stylesheet">
        <title>Login</title>
    </head>

    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input type="text" id="userid" name="userid" placeholder="Enter your User ID" required>
            <button class="button button1" type="submit">Login</button>

        </form>
            <button class="button button3" type="button" onclick="loginAsAdmin()">Login as Administrator</button>
            <button class="button button2" onclick="window.location.href='/'">Back to Home</button>
    </body>
</html>