<html>
    <head>
        <title>Update User</title>
        <script src="/static/js/main.js" defer></script>
    </head>

    <body>
        {% if session['userid'] %}
        <div style="background-color: lightgray; padding: 10px;">
            Logged in as: <strong>{{ session['userid'] }}</strong>
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>
        {% endif %}

        <div id="updateUserFormContainer">
            <form id="updateUserForm">
                First name <input type="text" id="firstname" placeholder="First Name" value="{{ user['firstname'] }}" required><br>
                Surname <input type="text" id="surname" placeholder="Surname" value="{{ user['surname'] }}" required><br>
                Email address <input type="email" id="email" placeholder="Email" value="{{ user['email'] }}" required><br>
                Phone <input type="text" id="phone" placeholder="Phone Number" value="{{ user['phone'] }}" required><br>
                Role <input type="text" id="role" placeholder="Role (e.g., Staff, Student)" value="{{ user['role'] }}"><br>
                <button type="button" onclick="submitUpdateUser()">Submit</button>
            </form>
        </div>
        <script>
            const currentUserId = "{{ session['userid'] }}";
        </script>
    </body>
</html>