<html>
    <head>
        <title>Update trave;</title>
        <script src="/static/js/main.js" defer></script>
    </head>

    <body onload="loadTravel()">
        {% if session['userid'] %}
            <div style="background-color: lightgray; padding: 10px;">
                Logged in as: <strong>{{ session['userid'] }}</strong>
                <button onclick="window.location.href='/logout'">Logout</button>
            </div>
        {% endif %}
        
        <h1>Update Travel form</h1>
        <body>
            <h1>Update a Travel Record</h1>
        
            <input type="text" id="firstname" placeholder="First Name">
            <input type="text" id="lastname" placeholder="Last Name">
            <input type="text" id="institution" placeholder="Institution or company">
            <input type="text" id="city" placeholder="City">
            <input type="text" id="country" placeholder="Country">
            <input type="date" id="departure_date">
            <input type="date" id="return_date">
        
            <button onclick="submitTravel()">Submit</button>
            <button onclick="window.location.href='/'">Back to Home</button>
        </body>
    </body> 
</html>