<html>
    <head>
        <title>Update travel</title>
        <script src="/static/js/main.js" defer></script>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body onload="loadTravelForUpdate()">
        {% if session['userid'] %}
            <div style="background-color: lightgray; padding: 10px;">
                Logged in as: <strong>{{ session['userid'] }}</strong>
                <button class="button button5" href="window.location.href='/logout'">Logout</button>
            </div>
        {% endif %}
        
    
            <h1>Update a Travel Record</h1>
        

            <form id="updateTravelForm">
                Institution <input type="text" id="institution" value="{{ travel['institution'] }}" required><br>
                City <input type="text" id="city" value="{{ travel['city'] }}" required><br>
                Country <input type="text" id="country" value="{{ travel['country'] }}" required><br>
                Travel Start <input type="date" id="travelstart" value="{{ travel['travelstart'] }}" required><br>
                Travel End <input type="date" id="travelend" value="{{ travel['travelend'] }}" required><br>
                <br><button class= "button button 1" type="button" onclick="submitUpdateTravel('{{travel['travelid']}}')">Submit</button>
            </form>
                <br><button class="button button3" type="button" onclick="window.location.href='/view-travel/{{session['userid']}}'">Back to Travel List</button>
                <br><button class="button button2"type="button" onclick="window.location.href='/dashboard/{{session['userid']}}'">Back to Dashboard</button>
        
    </body> 
</html>