<html>
    <head>
        <title>Update User</title>
        <script src="/static/js/main.js" defer>
            const userId = "{{ session['userid'] }}";
        </script>
    </head>

    <body>
        {% if session['userid'] %}
        <div style="background-color: lightgray; padding: 10px;">
            Logged in as: <strong>{{ session['userid'] }}</strong>
            <button onclick="window.location.href='/logout'">Logout</button>
        </div>
    {% endif %}

    <div>
        <form id="updateUserForm" onsubmit="event.preventDefault(); submitUpdateUser();">
            <input type="text" id="firstname" placeholder="First Name" value="{{ user['firstname'] }}" required><br>
            <input type="text" id="surname" placeholder="Surname" value="{{ user['surname'] }}" required><br>
            <input type="email" id="email" placeholder="Email" value="{{ user['email'] }}" required><br>
            <input type="text" id="phone" placeholder="Phone Number" value="{{ user['phone'] }}" required><br>
            <input type="text" id="role" placeholder="Role (e.g., Staff, Student)" value="{{ user['role'] }}"><br>
            <button type="submit">Submit</button>
    </div>
    </body>
</html>