
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>View travel</title>
    <script src="/static/js/main.js" defer></script>
    </head>

    <body onload="loadTravel()">
        {% if session['userid'] %}
        <div style="background-color: lightgray; padding: 10px;">
            Logged in as: <strong>{{ session['userid'] }}</strong>
            <button class="button button5" onclick="window.location.href='/logout'">Logout</button>
        </div>
        {% endif %}

        
        <h1>Recorded Travel for {{ user['firstname'] }} {{ user['surname'] }}</h1>
        <div id="travelList">
            <!-- The travel table will be dynamically loaded here by JavaScript -->
        </div>

        <br>
        <button class="button button1" onclick="window.location.href='/add-travel/{{session['userid']}}>'">Add Travel</button><br><br>
        <button class="button button2" onclick="window.location.href='/dashboard/{{session['userid']}}'">View Dashboard</button><br><br>
    </body>
    </html>